@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.dark-rainbow {
  background-image: url("../images/bg-main-desktop.png");
  background-size: cover;
  color: white;
}
.cc{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
