@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

// Variables

$active-input-border: #6448fe to #600594;
$input-errors: #ff5252;
$White: #ffffff;
$Light_grayish_violet: #dedddf;
$Dark_grayish_violet: #8e8593;
$Very_dark_violet: #21092f;

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.layer2 {
  height: 100vh;
}
.dark-rainbow {
  background-image: url("../images/bg-main-desktop.png");
  background-size: cover;
  color: white;
}
.cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  text-align: left;
}

form {
  .btn {
    color: $White;
    background-color: $Very_dark_violet;

    &:hover {
      color: $White;
      background-color: $Very_dark_violet;
    }
  }
}

.front-card {
  .card-img {
    width: 445px;
    height: 245px;
    background-image: url("../images/bg-card-front.png");
    border-radius: 1rem;
    margin: 1rem;
    position: relative;
    right: 15rem;
    top: 10rem;

    img {
      float: left;
      padding: 1rem;
    }
  }
  .inner-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      color: $White;
      font-size: 2rem;
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 3rem;
      color: $White;
      margin-bottom: 1rem;
    }
  }
}

.back-card {
  width: 445px;
  height: 245px;
  background-image: url('../images/bg-card-back.png');
  border-radius: 1rem;
  margin: 1rem;
  position: relative;
  right: 27rem;
  top: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .text-box {
    font-size: 1.5rem;
    text-align: left;
    color: $White;
    position: relative;
    left: 9.5rem;
  }
}
